.navbar22{

    text-align: center;
}
.textclass
{
   display:grid;
   grid-template-columns: 25% 50% 25% ; 
   text-align: center;
   border-bottom: 1rem;
   
   
   

}
.margin-bottom
{

    margin-bottom: 1rem;
}
